a {
    text-decoration: none;
}
ul{
    list-style: none;
}
.logo{
    margin: 0px 30px;
   text-align: center;

}
.navbar {
    position:absolute;
    top: 0;
    left: 0;
    display:flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.nav-links{
    display: flex;
    align-items: center;
    
}
.nav-links li{
    margin: 0px 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
header {
    width: 100vw;
    height: 150vh;
    background-image: url(../images/womens-powerlifting-header.webp);
    background-position: bottom;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.header-content {
    margin-bottom:-700px;
    color: whitesmoke;
    text-align: center;
    
    
}
.header-content h2 {
    font-size: 4vmin;
    color: white;
    
}
.line {
    width: 150px;
    height: 4px;
    background: cornflowerblue;
    margin: 10px auto;
    border-radius: 5px ;

}
.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
    
}
.ctn {
    padding: 8px 15px;
    background: cornflowerblue;
    border-radius: 30px;
    color:whitesmoke;
}